<!-- header -->
    <header class="header-sticky header-dark">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="<%=root_path%>">
            <img class="navbar-logo navbar-logo-light" src="../../assets/images/demo/logo/logo-light.svg" alt="Logo">
            <img class="navbar-logo navbar-logo-dark" src="../../assets/images/demo/logo/logo-dark.svg" alt="Logo">
          </a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

       
          <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
            <ul class="navbar-nav align-items-center mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="<%=root_path%>" role="button">
                  Accueil
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="<%=cv_path%>" role="button">
                Curriculum vitae
                </a>
              </li>

              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Stages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="<%=stage1_path%>">
                    <span>1ère année</span>
                    <p>CMLA</p>
                  </a>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="<%=stage2_path%>">
                    <span>2ème année</span>
                    <p>Cooodit</p>
                  </a>
              </li>


              <li class="nav-item dropdown dropdown-mega">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Projets
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                  <div class="row">
                    <div class="col">
                      <ul class="mega-list">
                        <li><a href="<%=projet1_path%>" class="highlight">Projet 1ère année</a></li>
                        
                      </ul>

                    </div>
                    <div class="col">
                      <ul class="mega-list">
                        <li><a href="<%=projet2_path%>">Projet 2ème année</a></li>
                      </ul>
                    </div>

              <li class="nav-item dropdown show">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Veilles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="<%=techno_path%>">
                    <span>Veille technologique</span>
                    <p>Réalité augmentée</p>
                  </a>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="<%=juri_path%>">
                    <span>Veilles juridique</span>
                    <p></p>
                  </a>
              </li>

                    



                  </div>
                </div>
              </li>
            </ul>
            </ul>
        
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- header -->